
@media only screen and (min-width: 390px) {
    body {
        overflow-y: hidden;
        height: 100h;
        width: 250%;
    }
    
    #blob {
        width: 200%;
        height: 200%;
    }

    .todo-container {
        width: 200%;
        margin: 100px auto;
    }

    h1 {
        font-size: 6rem;
        margin-top: -5rem;
    }

    h2, h3, h4, #todo-form p, #edit-form p {
        font-size: 5rem;
        margin-top: 5rem;
    }

    .todo {
        width: 60rem;
        margin-left: -200px;
        margin-right: 0;
        
    }

    .todo h3 {
        font-size: 3rem;
    }

    :placeholder-shown,
    #filter select {
        font-size: 3rem;
    }

    .todo-container header  {
        width: 35rem;
    }

    #todo-form p {
        width: 60rem;
        font-weight: bold;
        margin-left: -12rem;
        margin-bottom: 2rem;
    }

    #todo-form input {
        width: 200rem;
    }

    button {
        width: 5rem;
        height: 5rem;
        border-radius: 40%;
    }

    button i {
        font-size: 3rem;
    }

    .flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
    }

    #search {
        width: 300rem;
        margin-left: -12rem;
        border-right: none;
    }

    #filter {
        margin-right: -12rem;
    }

    .form-control input {
        margin-right: 1rem; 
    }
}

@media only screen and (min-width: 720px) and (max-width: 1280px){

    }